{% assign tit = post.title | size | divided_by: 3 | plus: 5 %}
{% if post.summary %}
  {% assign sum = post.summary | size | divided_by: 6 %}
{% else %}
  {% assign sum = 0 %}
{% endif %}
{% if post.subtitle %}
  {% assign sub = post.subtitle | size | divided_by: 3 | plus: 10 %}
{% else %}
  {% assign sub = 0 %}
{% endif %}
{% if post.image_url %}
  {% assign img = 20 %}
{% else %}
  {% assign img = 0 %}
{% endif %}
{% assign itog = 80 | minus: tit | minus: sum | minus: sub | minus: img %}
<div class="collumn gain-center sans-serif">
    <a href="{{ site.baseurl }}{{ post.url }}" target="blank" class="notall">  
      <div class="head headline hl3">       
        {{ post.title }}        
        {% if post.subtitle %}<p><span class="headline hl4">{{ post.subtitle }}</span></p>{% endif %}
      </div>
      {% if post.summary %}<div><p><span class="summary break cancel">{{ post.summary }}</span></p></div> {% endif %}
      {% if post.image_url %}<div><img class="media hover-image-scale" src="{{ site.urlimg }}{{ post.image_url }}"></div>{% endif %}         
      <div class="break cancel" style="letter-spacing: -0.5px;">{{ post.content | truncatewords: itog | strip_newlines }}</div>
      <div class="italic" style="margin-top: 0.5rem;">{{ post.date | date: "%B, %Y" | replace: "December", "декабрь" | replace: "January)", "январь" | replace: "February", "февраль"| replace: "March", "март"| replace: "April", "апрель"| replace: "May", "май"| replace: "June", "июнь"| replace: "July", "июль"| replace: "August", "август"| replace: "September", "сентябрь"| replace: "October", "октябрь"| replace: "November", "ноябрь" }}</div>
    </a>      
</div>
