  <!-- Основной контент сайта -->
    <div class="content">
      <h1>Добро пожаловать на сайт!</h1>
      <p>Это пример страницы с всплывающим окном.</p>
  </div>

  <!-- Футер -->
  <div class="footer">
      <div class="news-container"><hr class="hr-line"></div>
      <div class="container">
          <!-- Надпись "Нацземсоюз" -->
          <div style="text-align: center; margin-bottom: 10px;">
              <p style="font-family: 'Roboto', sans-serif; margin: 0;">&copy;&nbsp;Нацземсоюз&nbsp;—&nbsp;2023</p>
          </div>

          <!-- Кнопка "Полезные ресурсы" -->
          <div style="text-align: center; margin-top: 20px;">
              <button id="openModalBtn" style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; cursor: pointer; font-size: 16px; border-radius: 5px;">
                  Полезные ресурсы
              </button>
          </div>
      </div>
  </div>

  <!-- Модальное окно -->
  <div id="modal" class="modal">
    <div class="modal-content">
        <span id="closeModalBtn">&times;</span>
        <div style="text-align: center; margin-top: 20px;"> <h2>Полезные ресурсы</h2></div><br>
        <div style="text-align: center; margin-top: 20px;">  
          <a href="https://t.me/+X0UTMC7_X48xZjIy" target="_blank" style="font-family: 'Roboto', sans-serif; text-decoration: none; color: #0088cc; margin: 0;">
              <i class="fab fa-telegram-plane"></i> Присоединиться к группе
          </a>
        </div>
        <div style="text-align: center; margin-top: 20px;">  
          <a href="https://t.me/+oof5GFIGMbVkMWMy" target="_blank" style="font-family: 'Roboto', sans-serif; text-decoration: none; color: #0088cc; margin: 0;">
            <i class="fab fa-telegram-plane"></i> Подписаться на канал
          </a>
        </div>
    </div>
</div>

  <!-- JavaScript прямо в футере -->
 <script src="/assets/js/modal.js" defer></script>