 <br><div class="footer">
  <div class="news-container"><hr class="hr-line"></div>
  <div class="container">
    <div class="sans-serif" style="display: flex; justify-content: space-between; align-items: center;">
      <p style="font-family: 'Roboto', sans-serif; margin: 0;">&copy;&nbsp;Нацземсоюз&nbsp;—&nbsp;{{ site.time | date:"%Y" }}</p>
      <a href="https://t.me/land_use_art" target="_blank" style="font-family: 'Roboto', sans-serif; text-decoration: none; color: #0088cc; margin: 0;">
        <i class="fab fa-telegram-plane"></i> Подписаться на канал
      </a>
      <a href="https://t.me/+X0UTMC7_X48xZjIy" target="_blank" style="font-family: 'Roboto', sans-serif; text-decoration: none; color: #0088cc; margin: 0;">
        <i class="fab fa-telegram-plane"></i> Присоединиться к группе
      </a>
    </div>
  </div>
</div><br>