  <header>
      {% if page.url == "/" %}
        <div class="head">{{ site.title | upcase }}</div> 
        <div class="subhead serif">
          {{ site.subtitle }}
        </div>     
      {% else %}
        <div class="head gain-center">
          <a class="link notall" href="{{ site.baseurl }}/">
            {{ site.title | upcase }}
            <div class="subhead serif">
              {{ site.subtitle }}
            </div> 
          </a>
      </div>      
      {% endif %}     
  </header>                   
  {% if page.url == "/" %}
  <hr class="hr-line">
    <div style="transition: opacity 2s ease-in-out;" class="clock-text serif" id="MyClockDisplay">&#160;</div>
  <hr class="hr-line">
  {% elsif page.class == "article" %}
    <div class="clock-text serif gain-center">
      <hr class="hr-line"><a class="link notall" href="/articles/">К списку статей</a><hr class="hr-line">
    </div>
  {% elsif page.class == "news" %}
    <div class="clock-text serif gain-center">
      <hr class="hr-line"><a class="link notall" href="/archive/">К архиву новостей</a><hr class="hr-line">
    </div>  
  {% elsif page.class == "raw" %}
    <div class="clock-text serif gain-center">
      <hr class="hr-line"><a class="link notall" href="/materials/  ">К материалам проекта</a><hr class="hr-line">
    </div>   
  {% else %}
      <div class="clock-text serif"> 
        <hr class="hr-line">{{ page.title}}<hr class="hr-line">
      </div>   
  {% endif %}  
<br>  
{% include clock.html %}