<header>
  {% if page.url == "/" %}
    <div class="head">{{ site.title | upcase }}</div>
    <div class="subhead serif">
      {{ site.subtitle }}
    </div>
  {% else %}
    <div class="head gain-centerN">
      <a class="link notall" href="{{ site.baseurl }}/">
        {{ site.title | upcase }}
        <div class="subhead serif">
          {{ site.subtitle }}
        </div>
      </a>
    </div> 
  {% endif %}
</header>

{% if page.url == "/" %}
  <hr class="hr-line">
  <div style="transition: opacity 2s ease-in-out;" class="clock-text serif" id="MyClockDisplay">&#160;</div>
  <hr class="hr-line">
{% elsif page.class == "article" %}
  <div class="clock-text serif">
    <hr class="hr-line">Статья<hr class="hr-line">
  </div>
{% elsif page.class == "materials" %}
  <div class="clock-text serif">
    <hr class="hr-line">Нормативный материал<hr class="hr-line">
  </div>
{% elsif page.class == "methods" %}
  <div class="clock-text serif">
    <hr class="hr-line">Методика<hr class="hr-line">
  </div>
{% elsif page.class == "expert" %}
  <div class="clock-text serif">
    <hr class="hr-line">Пример заключения<hr class="hr-line">
  </div>
{% elsif page.class == "news" %}
  <div class="clock-text serif">
    <hr class="hr-line">Новость<hr class="hr-line">
  </div>  
{% else %}
  <div class="clock-text serif">
    <hr class="hr-line">Прочий материал<hr class="hr-line">
  </div>
{% endif %}

<br>
{% include clock.html %}