<div class="flex-container" style="margin-bottom: 2rem;">
    <div class="flex-item" style="width: 26%;">
      {% if include.file-1 %}
        <figure>
          <a href="/assets/img/{{ include.file-1 }}"><img src="/assets/img/{{ include.file-1 }}" alt="{{ include.caption-1 }}"></a>
          <figcaption>{{ include.caption-1 }}</figcaption>
        </figure>
      {% endif %}
    </div>
    <div class="flex-item" style="width: 26%;">
      {% if include.file-2 %}
        <figure>
          <a href="/assets/img/{{ include.file-2 }}"><img src="/assets/img/{{ include.file-2 }}" alt="{{ include.caption-2 }}"></a>
          <figcaption>{{ include.caption-2 }}</figcaption>
        </figure>
      {% endif %}
    </div>
    <div class="flex-item" style="width: 26%;">
      {% if include.file-3 %}
        <figure>
          <a href="/assets/img/{{ include.file-3 }}"><img src="/assets/img/{{ include.file-3 }}" alt="{{ include.caption-3 }}"></a>
          <figcaption>{{ include.caption-3 }}</figcaption>
        </figure>
      {% endif %}
    </div>
  </div>
  <div>
  {% if include.caption %}
    <figcaption class="global-caption">{{ include.caption }}</figcaption>
  {% endif %}
  </div>