<div class="flex-container" style="margin-bottom: 1rem;">
   <div class="flex-item" style="width: 40%;">
       <a href="\assets\img\{{ include.file-1 }}"><img src="\assets\img\{{ include.file-1 }}" alt="{{ include.caption-1 }}"></a>
       <figcaption>{{ include.caption-1 }}</figcaption>    
   </div>
   <div class="flex-item" style="width: 40%;">  
       <a href="\assets\img\{{ include.file-2 }}"><img src="\assets\img\{{ include.file-2 }}" alt="{{ include.caption-2 }}"></a>
       <figcaption>{{ include.caption-2 }}</figcaption>    
   </div>
   <figcaption style="margin-top: -1rem;">{{ include.caption }}</figcaption>    
 </div>
