{% assign align = include.align | default: 'center' %}
{% assign width = include.width | default: '40%' %}

<div class="image-container image-{{ align }}" style="width: {{ width }};">
  <figure>
    <a href="/assets/img/{{ include.file }}">
      <img src="/assets/img/{{ include.file }}" alt="{{ include.caption }}" style="width: 100%; height: auto;">
    </a>
    <figcaption>
      {{ include.caption }}
      {% if include.source %}
      <br><span class="image-source">Источник: {{ include.source }}</span>
      {% endif %}
    </figcaption>
  </figure>
</div>