<div class="flex-container">
   <div class="flex-item" style="width: 28%;">
       <a href="\assets\img\{{ include.file-1 }}"><img src="\assets\img\{{ include.file-1 }}" alt="{{ include.caption-1 }}"></a>
       <figcaption>{{ include.caption-1 }}</figcaption>    
   </div>
   <div class="flex-item" style="width: 28%;">  
       <a href="\assets\img\{{ include.file-2 }}"><img src="\assets\img\{{ include.file-2 }}" alt="{{ include.caption-2 }}"></a>
       <figcaption>{{ include.caption-2 }}</figcaption>    
   </div>
   <div class="flex-item" style="width: 28%;">  
       <a href="\assets\img\{{ include.file-3 }}"><img src="\assets\img\{{ include.file-3 }}" alt="{{ include.caption-3 }}"></a>
       <figcaption>{{ include.caption-3 }}</figcaption>    
   </div>
   <figcaption style="margin-top: -1rem;">{{ include.caption }}</figcaption>  
 </div>
 <br>