<div class="articles">
{% assign int = 1 %}
{% for doc in site.data.docs %}
<h2 class="center linetitle">{{ doc.head }}</h2>
  {% for post in site.posts %}
    {% if post.category == doc.name %}
      {% if int == 1  %}{% cycle "add row1": "<div class='row'>", "", "" %}{% endif %}
      {% if int == 2  %}{% cycle "add row2": "<div class='row'>", "", "" %}{% endif %}
      {% if int == 3  %}{% cycle "add row3": "<div class='row'>", "", "" %}{% endif %}
      {% if int == 4  %}{% cycle "add row4": "<div class='row'>", "", "" %}{% endif %}
      {% if int == 5  %}{% cycle "add row5": "<div class='row'>", "", "" %}{% endif %}
      {% if int == 6  %}{% cycle "add row6": "<div class='row'>", "", "" %}{% endif %}
      {% if int == 7  %}{% cycle "add row7": "<div class='row'>", "", "" %}{% endif %}
        <div class="four columns">
          <a href="{{ site.baseurl }}{{ post.url }}" class="link">
          <h4 style="margin-bottom: -0.5em; line-height: 1.2; font-weight: 400">{{ post.title }}</h4>
          <div style="margin-bottom: 10px; line-height: 1.4em;" class="left">
            {% if post.author %}<h5 style="font-style: italic; margin-bottom: 0.5em;">{{ post.author }}{% endif %}</h5>
            {% if post.abstract %}{{ post.abstract | truncatewords:25 }}{% else %}{{ post.content | truncatewords:25 | strip_newlines }}{% endif %}
          </div>
          </a>
        </div>
      {% if int == 1  %}{% cycle "end row1": "", "", "</div>" %}{% endif %}
      {% if int == 2  %}{% cycle "end row2": "", "", "</div>" %}{% endif %}
      {% if int == 3  %}{% cycle "end row3": "", "", "</div>" %}{% endif %}
      {% if int == 4  %}{% cycle "end row4": "", "", "</div>" %}{% endif %}
      {% if int == 5  %}{% cycle "end row5": "", "", "</div>" %}{% endif %}
      {% if int == 6  %}{% cycle "end row6": "", "", "</div>" %}{% endif %}
      {% if int == 7  %}{% cycle "end row7": "", "", "</div>" %}{% endif %}
    {% endif %}
  {% endfor %}
  {% if int == 1  %}{% cycle 'end row1' : "", '</div>', '</div>', '</div>' %}{% endif %}
  {% if int == 2  %}{% cycle 'end row2' : "", '</div>', '</div>', '</div>' %}{% endif %}
  {% if int == 3  %}{% cycle 'end row3' : "", '</div>', '</div>', '</div>' %}{% endif %}
  {% if int == 4  %}{% cycle 'end row4' : "", '</div>', '</div>', '</div>' %}{% endif %}
  {% if int == 5  %}{% cycle 'end row5' : "", '</div>', '</div>', '</div>' %}{% endif %}
  {% if int == 6  %}{% cycle 'end row6' : "", '</div>', '</div>', '</div>' %}{% endif %}
  {% if int == 7  %}{% cycle 'end row7' : "", '</div>', '</div>', '</div>' %}{% endif %}
  {% if int == 6  %}{% assign int = 7 %}{% endif %}
  {% if int == 5  %}{% assign int = 6 %}{% endif %}
  {% if int == 4  %}{% assign int = 5 %}{% endif %}
  {% if int == 3  %}{% assign int = 4 %}{% endif %}
  {% if int == 2  %}{% assign int = 3 %}{% endif %}
  {% if int == 1  %}{% assign int = 2 %}{% endif %}
{% endfor %}
