<div class="container">      
    {% for doc in site.materials %}
      <div class="left gain-center">
        <a href="{{ site.baseurl }}{{ doc.url }}" target="blank" class="link notall">
          <strong>{{ doc.title | upcase }}</strong>{% if doc.author %} / {{ doc.author }}{% endif %}
          {% if doc.summary %}
            <div class="sans-serif">{{ doc.summary | truncatewords: 25 | strip_newlines }}</div>
          {% else %}                
            <div class="sans-serif">{{ doc.content | truncatewords: 25 | strip_newlines }}</div>
          {% endif %}
        </a>
      </div><br>
    {% endfor %}
</div>