<div class="fixed-top container">
  <ul id="navlist">
    <br>
    <li {% if page.url == "/text/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/text/">Содержание</a></li>
    <li {% if page.url == "/docs/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/docs/">Материалы</a></li>
    <li {% if page.url == "/sites/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/sites/">Сайты</a></li>
    <li {% if page.url == "/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/">О книге</a></li>
  </ul>
  <ul id="navlist" class="corner">
    <li> <a href="">Наверх</a></li>
  </ul>
</div>

