h1 {
  font-size: clamp(1.92rem, 4vw, 2.88rem);
  line-height: 1.2;
  font-weight: bold;        /* Жирное начертание */
  text-align: center;       /* Выравнивание по центру */
  text-transform: uppercase; /* Все буквы заглавные (опционально) */
}

/* Стиль для заголовка второго уровня (h2) */
h2 {
  font-size: clamp(1.8rem, 3.2vw, 2.4rem);
  line-height: 1.3;
  font-weight: bold;        /* Жирное начертание */
  border-bottom: 2px solid #ccc; /* Линия под заголовком (опционально) */
  padding-bottom: 5px;      /* Отступ снизу для линии */
  text-transform: uppercase; /* Все буквы заглавные (опционально) */
}

/* Стиль для заголовка третьего уровня (h3) */
h3 {
  font-size: clamp(1.5rem, 1.071rem + 1.143vw, 2.1rem);
  line-height: 1.4;
  font-weight: bold;        /* Жирное начертание */
  font-style: normal;       /* Начертание (опционально) */

}

