h1 {
  font-size: clamp(1.728rem, 3.6vw, 2.592rem);  
  line-height: 1.2;
  font-weight: bold;        /* Жирное начертание */
  text-align: center;       /* Выравнивание по центру */
  text-transform: uppercase; /* Все буквы заглавные (опционально) */
}

/* Стиль для заголовка второго уровня (h2) */
h2 {
  font-size: clamp(1.62rem, 2.88vw, 2.16rem);  line-height: 1.3;
  font-weight: bold;        /* Жирное начертание */
  border-bottom: 2px solid #ccc; /* Линия под заголовком (опционально) */
  padding-bottom: 5px;      /* Отступ снизу для линии */
  text-transform: normal; /* Все буквы как в предложении (опционально) */
}

/* Стиль для заголовка третьего уровня (h3) */
h3 {
  font-size: clamp(1.62rem, 1.62rem + ((1vw - 0.6rem) * 0.36), 1.98rem);
  line-height: 1.4;
  font-weight: bold;        /* Жирное начертание */
  font-style: normal;       /* Начертание (опционально) */
}

h4 {
  font-size: clamp(1.458rem, 1.458rem + ((1vw - 0.6rem) * 0.324), 1.782rem);
  line-height: 1.4;
  font-weight: bold;
  font-style: normal;
}

h5 {
  font-size: clamp(1.458rem, 1.458rem + ((1vw - 0.6rem) * 0.324), 1.782rem);
  line-height: 1.4;
  font-weight: bold;
  font-style: italic;
}