@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Old Standard TT', serif;
font-family: 'Playfair Display', serif;
font-family: 'Source Serif 4', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Charis SIL', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto Slab', serif;
*/

/*
Base Styles
Typography
Tables
Transfer
Columns
Link
IMG
MEDIAQUERIES
*/

:root {
  --space-default: 1rem;
  --space-l1-lg: 4rem;
  --space-l2-lg: 3rem;
  --space-l3-lg: 2.5rem;
  --space-l4-lg: 2rem;
  --space-l5-lg: 1.5rem;
  --space-l6-lg: 1rem;

  --space-l1-sm: calc(var(--space-l1-lg) / 4);
  --space-l2-sm: calc(var(--space-l2-lg) / 4);
  --space-l3-sm: calc(var(--space-l3-lg) / 4);
  --space-l4-sm: calc(var(--space-l4-lg) / 4);
  --space-l5-sm: calc(var(--space-l5-lg) / 4);
  --space-l6-sm: calc(var(--space-l6-lg) / 4);

  --space-list-items: 0.5rem; 

  --background-color: #fdfbee;  
  --font-color: #2f2f2f;
  --a-color: #3a3535;
  --shadow-color: #696969;
}


/* Base Styles
––––––––––––––––––––––––––––––––––––––––––––––––––*/

html {
  font-size: 62.5%;
  
}

body{
  font-size: clamp(1.3rem, 1.2rem + 0.5vw, 1.7rem);
  line-height: clamp(1.4rem, 1.3rem + 0.5vw, 1.8rem);
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: var(--font-color);
  background-color: var(--background-color); 
 }

 header{
  font-size: clamp(1.6rem, 0.725rem + 4.375vw, 5.1rem);
  font-family: 'Playfair Display', serif;
  font-weight: 900;  
  line-height: clamp(1.8rem, 0.925rem + 4.375vw, 5.3rem)
  margin-bottom: 15px;
  margin-top: 5px;
}

.content{
  font-size: 0;
  line-height: 0;
  word-spacing: -.03rem;
  list-style: none;
  margin: 30px 2% 0 2%;
  
}

.container {
  position: relative;
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  line-height: 1.5;      
}

.container.shadow{
  background-color: #fffbf5; 
}

.news-container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
  line-height: 1.5;  
  overflow: visible;  
}

.newspaper {
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px outset var(--font-color);
  max-width: 960px;
}

.span {
  column-span: all;
}

.main {
  margin-top: 30px;   
}

.back{
  background: rgba(253,251,238,0.7);
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;   
}

.navbar a {
  float: right;
  display: block;  
  text-align: center;
  padding: 14px 16px 10px 10px;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
  margin: 0;
}

p{  
  margin-bottom: 1.5rem;
}


p::selection{
  background: lightgrey;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;  
  color: FireBrick;
}

h1 {
  margin-top: var(--space-l1-lg);
  margin-bottom: var(--space-l1-sm);
}
  
h2 {
  margin-top: var(--space-l2-lg);
  margin-bottom: var(--space-l2-sm);
  text-decoration: underline;
}

h3 {
  margin-top: var(--space-l3-lg);
  margin-bottom: var(--space-l3-sm);
}

h4 {
  margin-top: var(--space-l4-lg);
  margin-bottom: var(--space-l4-sm);
}

h5 {
  margin-top: var(--space-l5-lg);
  margin-bottom: var(--space-l5-sm);
}

h6 {
  margin-top: var(--space-l6-lg);
  margin-bottom: var(--space-l6-sm);
}

h1 + h2 {
  margin-top: var(--space-l2-sm);
}

h2 + h3 {
  margin-top: var(--space-l3-sm);
}

h3 + h4 {
  margin-top: var(--space-l4-sm);
}

h4 + h5 {
  margin-top: var(--space-l5-sm);
}

h5 + h6 {
  margin-top: var(--space-l6-sm);
}

ul {
    list-style: none;
}

ul li:before {
    content:  "—";
    position: relative;
    left:     -5px;
}

.toc ul li:before {
  content:  "";
  position: relative;
  left:     -5px;
}

.toc li:before {
  content:  "";
  position: relative;
  left:     -5px;
}

li + li {
  margin-top: var(--space-list-items);
}

li :is(ul, ol) {
  margin-top: var(--space-list-items);
  margin-bottom: 0;
}

 *:first-child {
  margin-top: 0;
}

 *:last-child {
  margin-bottom: 0;
}

.toc {
  padding-top: 10px; 
  padding-bottom: 0px; 
  margin-bottom: 24px; 
  letter-spacing: 0.5px;  
}

.toc-item {
 color: DimGray;
}

.doc-head{
  font-size: clamp(2rem, 1.7500rem + 1.2500vw, 3rem);
  padding-top: 10px; 
  padding-bottom: 0px; 
  margin-bottom: 24px; 
  font-weight: 300;
  color: var(--font-color);
}

.head{
  text-align: center;
  position: relative;  
}

.subhead{
  font-size: clamp(1.8rem, 1.625rem + 0.875vw, 2.5rem);
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0 12px 0;
  color: var(--font-color);
}

.clock-text{
  font-size: clamp(1.8rem, 1.625rem + 0.875vw, 2.5rem);
  text-align: center;
  text-transform: uppercase;
  color: var(--font-color);      
}

blockquote {
  margin: 0;
  margin-top: 0;
  color: DarkSlateGray;
  padding: 1rem 2rem 1rem 3rem;
  border-left: thick solid Lightgray;
  position: relative;
  font-family: sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  }

  blockquote p {
  font-style: italic; 
  }

.hr-line {
	margin: 0;
	padding: 0;
	height: 2px;
	border-top: 2px solid var(--font-color);
}

.author{
  text-align: center;
  font-size: 110%;
  margin-top: 24px; 
  margin-bottom: 24px; 
}

.serif{
  font-family: 'Source Serif 4', serif;
}

.sans-serif{
  font-family: Roboto Condensed', sans-serif;
  font-weight: 400;
}

.docsubtitle{
  margin-bottom: 0em; 
  font-weight: 400; 
  font-size: clamp(1.6rem, 1.45rem + 0.75vw, 2.2rem);
  letter-spacing: 1px; 
  color: var(--font-color);
}

.docsubtitle:before{
  border-top: 1px solid var(--font-color);
  content: '';
  width: 150px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.docsubtitle:after{
  border-bottom: 1px solid var(--font-color);
  content: '';
  width: 150px;
  height: 13px;
  display: block;
  margin: 0 auto 1rem auto;
}

.weatherforcastbox{
  position: relative;
  width: 12%;
  left: auto;
  border: 3px double var(--font-color);
  padding: 10px 15px 10px 15px;
  line-height: 20px;
  display: inline-block;
  margin: 0 50px 20px -360px;
}

.logo{
  position: relative;
  width: 12%;
  display: inline-block; 
  line-height: 12px; 
  margin: 10px 50px 20px 0;
  padding: 10px 15px 10px 15px;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.justify {
  text-align: justify;
}

.left {
  text-align: left;
}

.italic {
  font-style: italic;
}

.linetitle {
  overflow: hidden;
  text-align: center;
}

.linetitle:before,
.linetitle:after {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 50%;
   height: 2px;
   background-color: grey;
   position: relative;
}

.linetitle:before {
   margin-left: -100%;
   left: -14px;
}

.linetitle:after {
   margin-right: -100%;
   right: -14px;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

th,
td {
  padding: 10px 10px ;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;}
th:first-child,
td:first-child {
  padding-left: 5px;}
th:last-child,
td:last-child {
  padding-right: 0;
}

td {
 padding: 5px;
 font-family: 'Roboto Condensed', sans-serif;}

tbody tr:nth-child(odd) {
  background-color: Gainsboro;}

tbody tr:nth-child(even) {
  background-color: rgb(236, 236, 236);}

th {background-color: rgb(236, 236, 236);}

table {margin-bottom: 1.5rem;}
ol {margin-bottom: 1.5rem;}

/* Next transfer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.break {
  word-break: break-all;
}

.to-normal {
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: normal;
}

.cancel {
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Columns
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.collumns{
}

.collumn{
  display: inline-block;
  line-height: 120%;
  width: 22.5%;
  padding: 0 1% 0 1%;
  margin-bottom: 30px;
  transition: all .7s;
  vertical-align: top;   
}

.text{
  width: 100%;
  font-size: clamp(2rem, 1.75rem + 1.25vw, 3rem);
  text-transform: uppercase;
  padding: 1rem 0 3rem 0;
}

.collumn + .collumn { 
    border-left: 1px solid var(--font-color);
}

.collumn .headline{
  text-align: center;
  line-height: normal;
  font-family: 'Old Standard TT', serif;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl1{
  font-weight: 700;
  font-size: clamp(1.6rem, 1.5rem + 0.5vw, 2rem);
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl2{
  font-weight: 400;
  font-style: italic;
  font-size: clamp(1.5rem, 1.425rem + 0.375vw, 1.8rem);
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before{
  border-top: 1px solid var(--font-color);
  content: '';
  width: 150px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl2:after{
  border-bottom: 1px solid var(--font-color);
  content: '';
  width: 150px;
  height: 13px;
  display: block;
  margin: 0 auto -1rem auto;
}

.collumn .headline.hl3{
  font-weight: 400;
  font-size: clamp(2.4rem, 2.186rem + 0.571vw, 2.7rem);  
  font-style: normal;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
  text-indent: 0px;
}

.collumn .headline.hl4{
  font-weight: 400;
  font-size: clamp(1.6rem, 1.5rem + 0.5vw, 2rem);
  font-style: italic;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
  margin-bottom: 1rem;
}

.collumn .headline.hl4:before{
  border-top: 1px solid var(--font-color);
  content: '';
  width: 150px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl4:after{
  border-bottom: 1px solid var(--font-color);
  content: '';
  width: 150px;
  height: 10px;
  display: block;
  margin: 0 auto -1rem auto;
}

.collumn .summary{
  font-family: 'Oswald', sans-serif;
  font-size: clamp(1.6rem, 1.55rem + 0.25vw, 1.8rem);
  font-style: normal;
  text-align: left;
  font-weight: 400;
  display: block;
  letter-spacing: 0.5px; 
  margin-bottom: 1rem; 
 }

.collumn .citation{
  font-family: 'Playfair Display', serif;
  font-size: clamp(2rem, 1.75rem + 1.25vw, 3rem);
  /*font-style: italic;*/
  text-align: center;
  font-weight: 400;
  display: block;
  margin: 40px 0 40px 0;
  font-feature-settings: "liga", "dlig";
}

.collumn .citation:before{
  border-top: 1px solid var(--font-color);
  content: '';
  width: 150px;
  height: 8px;
  display: block;
  margin: 0 auto;
}

.collumn .citation:after{
  border-bottom: 1px solid var(--font-color);
  content: '';
  width: 150px;
  height: 12px;
  display: block;
  margin: 0 auto -1rem auto;
}

.collumn .figure {
  margin: 0 0 20px;
}

.collumn .figcaption{
font-style: normal;
font-size: 1.2rem;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center; 
}

.flex-item {
  padding: 0;
  margin: 20px;
  font-weight: bold;
  font-size: clamp(1.4rem, 1.35rem + 0.25vw, 1.6rem);
  text-align: center;  
}

/* Link
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: purple;
  transition: 0.5s; 
}

.underline {
  color: var(--a-color);
  text-decoration: underline;  
  transition: 0.5s; 
}

a:hover {
color: rgb(57, 57, 65);
text-shadow: 3px 3px 1px rgba(47,47,47,0.2);
}

.notall {
  color: var(--a-color);
  text-decoration: none;
  transition: 0.5s; 
}

/* Увеличение по центру */
.gain-center{
  transition: 1s; /* Время эффекта */  
}

.gain-center:hover {
  transform: scale(1.05); /* Увеличиваем масштаб */
}

 /* IMG 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img {
  max-width: 100%;
  border-radius: 0.3em;
  padding: 2px; 
  border: 1px solid #666;   
}

figure {
  text-align: center;  
}

figcaption {
  font-weight: bold;
  font-size: 90%; 
  text-align: center;   
}

.caption {
  font-weight: bold;
  font-size: 90%; 
  text-align: center; 
  margin-bottom: 2rem;  
}

.passe-partout {
  padding: 40px; /* Размер паспарту */
  background: Silver; /* Цвет фона паспарту */
  display: inline-block; /* Строчно-блочный элемент */
  margin: 0; /* Убираем отступы */
  border-radius: 0.3em;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(155, 155, 155) grey grey grey;
  box-shadow: 0.1em 0.4em 0.7em 0.1em var(--shadow-color); 
 } 

 .passe-partout img {
  border: 1px solid #666; /* Рамка вокруг изображения */
 }

.media {
  -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
  filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
  mix-blend-mode: multiply;
  display: block;
  margin: auto;
  margin-bottom: 0.6rem;
  width: auto;
  max-width: 75%;
}

.foto {
  display: block;
  margin: auto;
  width: auto;
  max-width: 70%;
  aspect-ratio: auto; 
  border-radius: 0.3em;
  box-shadow: 0.1em 0.4em 0.7em 0.1em var(--shadow-color); 
}

.left-foto{
  float: left;
  margin: 10px 20px 2px 0px;
  max-width: 40%;
  }
  
.right-foto{
  float: right;
  margin: 10px 0px 2px 20px;
  max-width: 40%;
 }
  
.bordernot {
  border-style: none;
  box-shadow: none;
}

.narrow{
  max-width: 50%;
}

.sepia {
  filter: sepia(0.7);
}

.shadow {
  padding: 3% 3% 3% 3%;
  margin-bottom: 1rem;
  border-radius: 0.3em;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(211, 211, 211, 0.719) grey grey rgba(211, 211, 211, 0.719);
  box-shadow: 0.1em 0.4em 0.7em 0.1em #696969; 
}

#timeout {
  opacity: 0;
  animation: ani 1.6s forwards;
}

#timeoutshort {
  opacity: 0;
  animation: ani 1.4s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*MEDIAQUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only all and (max-width: 1600px) {

 .weatherforcastbox{
    display: none;}

}

@media only all and (max-width: 1200px) {

  .container.shadow {
    border-style: none;
    box-shadow: none;
    background-color: var(--background-color); 
  }  
 
 }

@media only all and (max-width: 960px) {
  
  .collumn{
    width: 47%;} 
 
  .collumn + .collumn {
    border-left: none;} 	   

}

@media only all and (max-width: 600px) {

  .collumn{
    width: 100%;}  

  .collumn + .collumn {
      border-left: none;
      border-bottom: 1px solid var(--font-color);
      padding-bottom: 1rem;}  

}

@media only all and (max-width: 360px) {

  .collumn .headline.hl1{     
    font-size: 1.5rem}   

}
