@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
font-family: 'Old Standard TT', serif;
font-family: 'Playfair Display', serif;
font-family: 'Source Serif 4', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'PT Serif', serif;
font-family: "Fira Sans", sans-serif;
font-family: "Fira Sans Condensed", sans-serif;
font-family: "Lora", serif;
font-family: "PT Sans", sans-serif;
font-family: "Open Sans", sans-serif;
*/

/*
Base Styles
Typography
Tables
Transfer
Columns
Link
IMG
MEDIAQUERIES
*/

:root {
  --space-default: 1rem;
  --space-l1-lg: 4rem;
  --space-l2-lg: 3rem;
  --space-l3-lg: 2.5rem;
  --space-l4-lg: 2rem;
  --space-l5-lg: 1.5rem;
  --space-l6-lg: 1rem;

  --space-l1-sm: calc(var(--space-l1-lg) / 2);
  --space-l2-sm: calc(var(--space-l2-lg) / 2);
  --space-l3-sm: calc(var(--space-l3-lg) / 2);
  --space-l4-sm: calc(var(--space-l4-lg) / 2);
  --space-l5-sm: calc(var(--space-l5-lg) / 2);
  --space-l6-sm: calc(var(--space-l6-lg) / 2);

  --space-list-items: 0.5rem; 

  --background-color: #fdfbee;  
  --font-color: #2f2f2f;
  --a-color: #3a3535;
  --shadow-color: #696969;
}


/* Base Styles
––––––––––––––––––––––––––––––––––––––––––––––––––*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-size: clamp(1.4rem, 1.3rem + 0.5vw, 1.8rem);
  line-height: clamp(1.45rem, 1.164rem + 0.762vw, 1.85rem);
  font-family: "Lora", serif;
  font-weight: 400;
  color: var(--font-color);
  background-color: var(--background-color); 
 }

 header{
  font-size: clamp(1.6rem, 0.725rem + 4.375vw, 5.1rem);
  font-family: 'Playfair Display', serif;
  font-weight: 900;  
  line-height: clamp(1.8rem, 0.925rem + 4.375vw, 5.3rem)
  margin-bottom: 15px;
  margin-top: 5px;
}

.content{
  font-size: 0;
  line-height: 0;
  word-spacing: -.03rem;
  list-style: none;
  margin: 30px 2% 0 2%;
  
}

.container {
  position: relative;
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  line-height: 1.5;      
}

.container.shadow{
  background-color: #fffbf5; 
}

.news-container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
  line-height: 1.5;  
  overflow: visible;  
}

.newspaper {
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px outset var(--font-color);
  max-width: 960px;
}

.span {
  column-span: all;
}

.main {
  margin-top: 30px;   
}

.back{
  background: rgba(253,251,238,0.7);
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;   
}

.navbar a {
  float: right;
  display: block;  
  text-align: center;
  padding: 14px 16px 10px 10px;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
  margin: 0;
}

p{  
  margin-bottom: 1.5rem;
  hyphens: auto;
  hyphenate-limit-chars: 8 4 4;
}


p::selection{
  background: lightgrey;
}

/* Стиль для заголовка первого уровня (h1) */


h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.02em; 
  line-height: 1.2em;
}

h1, h2 {
  color: FireBrick;
  font-weight: normal;
}

h1 {
  margin-top: var(--space-l1-lg);
  margin-bottom: var(--space-l1-sm);
}
  
h2 {
  margin-top: var(--space-l2-lg);
  margin-bottom: var(--space-l2-sm);  
}

h3 {
  margin-top: var(--space-l3-lg);
  margin-bottom: var(--space-l3-sm);
}

/* Отступы для списков, следующих после h3 и h4 */
h3 + ul,
h3 + ol,
h4 + ul,
h4 + ol {
    margin-top: 0.5em;        /* Отступ сверху для списка после h3 или h4 */
}

/* Отступы между элементами списка */
ul, ol {
    margin-bottom: 0.5em;     /* Отступ снизу для списка */
}

h4 {
  margin-top: var(--space-l4-lg);
  margin-bottom: var(--space-l4-sm);
}

h5 {
  margin-top: var(--space-l5-lg);
  margin-bottom: var(--space-l5-sm);
}

h6 {
  margin-top: var(--space-l6-lg);
  margin-bottom: var(--space-l6-sm);
}

h1 + h2 {
  margin-top: var(--space-l2-sm);
}

h2 + h3 {
  margin-top: var(--space-l3-sm);
}

h3 + h4 {
  margin-top: var(--space-l4-sm);
}

h4 + h5 {
  margin-top: var(--space-l5-sm);
}

h5 + h6 {
  margin-top: var(--space-l6-sm);
}

ul {
    list-style: none;
}

ul li:before {
    content:  "–";
    position: relative;
    left:     -5px;
}

.toc ul li:before {
  content:  "";
  position: relative;
  left:     -5px;
}

.toc li:before {
  content:  "";
  position: relative;
  left:     -5px;
}

li + li {
  margin-top: var(--space-list-items);
}

ul {
  margin-bottom: var(--space-default);  
  margin-top: -1rem;  
}

li :is(ul, ol) {
  margin-top: var(--space-list-items);
  margin-bottom: 0;
}

 *:first-child {

}

 *:last-child {
  margin-bottom: 0;
}

.toc {
  padding-top: 10px; 
  padding-bottom: 0px; 
  margin-bottom: 24px; 
  letter-spacing: 0.5px;  
}

.toc-item {
  color: purple;
}

.doc-head{
  font-size: clamp(2rem, 1.7500rem + 1.2500vw, 3rem);
  padding-top: 10px; 
  padding-bottom: 0px; 
  margin-bottom: 24px; 
  font-weight: 300;
  color: var(--font-color);
}

.head{
  text-align: center;
  position: relative;  
}

.subhead{
  font-size: clamp(1.8rem, 1.625rem + 0.875vw, 2.5rem);
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0 12px 0;
  color: var(--font-color);
}

.clock-text{
  font-size: clamp(1.8rem, 1.625rem + 0.875vw, 2.5rem);
  text-align: center;
  text-transform: uppercase;
  color: var(--font-color);
}

blockquote {
  margin: 0;
  margin-top: 0;
  color: DarkSlateGray;
  padding: 1rem 2rem 1rem 3rem;
  border-left: thick solid Lightgray;
  position: relative;
  font-weight: 300;
  margin-bottom: 10px;
  }

blockquote p {
  font-style: italic; 
  }

.hr-line {
	margin: 0;
	padding: 0;
	height: 2px;
	border-top: 2px solid var(--font-color);
}

.author{
  text-align: center;
  font-size: 110%;
  margin-top: 24px; 
  margin-bottom: 24px; 
}

.serif{
  font-family: 'Source Serif 4', serif;
}

.sans-serif{
  font-family: Roboto Condensed', sans-serif;
  font-weight: 400;
}

.docsubtitle{
  margin-bottom: 0em; 
  font-weight: 400; 
  font-size: clamp(1.6rem, 1.314rem + 0.762vw, 2rem);
  color: var(--font-color);
  font-family: 'PT Serif', serif;
}

.docsubtitle:before{
  border-top: 1px solid var(--font-color);
  content: '';
  width: 150px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.docsubtitle:after{
  border-bottom: 1px solid var(--font-color);
  content: '';
  width: 150px;
  height: 13px;
  display: block;
  margin: 0 auto 1rem auto;
}

.logo{
  position: relative;
  width: 12%;
  display: inline-block; 
  line-height: 12px; 
  margin: 10px 50px 20px 0;
  padding: 10px 15px 10px 15px;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.justify {
  text-align: justify;
}

.left {
  text-align: left;
}

.italic {
  font-style: italic;
}

.linetitle {
  overflow: hidden;
  text-align: center;
}

.linetitle:before,
.linetitle:after {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 50%;
   height: 2px;
   background-color: lightgray;
   position: relative;
}

.linetitle:before {
   margin-left: -100%;
   left: -14px;
}

.linetitle:after {
   margin-right: -100%;
   right: -14px;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

th,
td {
  padding: 10px 10px ;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;}
th:first-child,
td:first-child {
  padding-left: 5px;}
th:last-child,
td:last-child {
  padding-right: 0;
}

td {
 padding: 5px;
 font-family: 'Roboto Condensed', sans-serif;}

tbody tr:nth-child(odd) {
  background-color: Gainsboro;}

tbody tr:nth-child(even) {
  background-color: rgb(236, 236, 236);}

th {background-color: rgb(236, 236, 236);}

table {margin-bottom: 1.5rem;}
ol {margin-bottom: 1.5rem;}

/* Text transfer - пероеносы
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.break {
  word-break: break-all;
}

.to-normal {
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: normal;
}

.cancel {
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Flex
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;  
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; 
}

.flex-item {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: clamp(1.4rem, 1.35rem + 0.25vw, 1.6rem);
  display: flex;
  flex-direction: column;
  text-align: center;  
}

.flex-item img {
  max-width: 70%; /* Ограничение ширины изображения */
  height: auto; /* Сохранение пропорций */
  border-radius: 8px; /* Скругление углов */
}

.global-caption {
  font-size: clamp(1.2rem, 0.986rem + 0.571vw, 1.5rem);
  color: #666;
  margin-bottom: 2rem;
  font-weight: bold;
}

/* Link
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: purple;
  transition: 0.5s; 
}

.underline {
  color: var(--a-color);
  text-decoration: underline;  
  transition: 0.5s; 
}

a:hover {
color: rgb(57, 57, 65);
text-shadow: 3px 3px 1px rgba(47,47,47,0.2);
}

.notall {
  color: var(--a-color);
  text-decoration: none;
  transition: 0.5s; 
}

/* Увеличение по центру */
.gain-center{
  transition: 1s; /* Время эффекта */  
}

.gain-center:hover {
  transform: scale(1.05); /* Увеличиваем масштаб */
  background-color: rgba(0, 0, 0, 0.05); /* Затемнение фона с прозрачностью 50% */
}

.gain-centerN{
  transition: 1s; /* Время эффекта */  
}

.gain-centerN:hover {
  transform: scale(1.05); /* Увеличиваем масштаб */
}

 /* IMG 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-left {
  float: left; /* Выравнивание влево */
  margin-right: 1rem; /* Отступ справа для обтекания текстом */
}

.image-right {
  float: right; /* Выравнивание вправо */
  margin-left: 1rem; /* Отступ слева для обтекания текстом */
}

.image-center {
  display: block;
  margin: 0 auto; /* Центрирование */
  text-align: center;
  float: none; /* Убедимся, что float не применяется */
}

.flex-container {
  overflow: hidden; /* Чтобы контейнер не схлопывался из-за float */
}

.image-container {
  margin-bottom: 1rem; /* Отступ снизу */
}

figure {
  margin: 0; /* Убираем стандартные отступы */
}

figcaption {
  text-align: center; /* Центрируем подпись */
  font-style: normal; 
  margin-top: 0.5rem; /* Отступ сверху */
  color: #666;
  font-size: clamp(1.2rem, 0.986rem + 0.571vw, 1.5rem);
  font-weight: bold;
}

.caption {
  font-weight: bold;
  font-size: 90%; 
  text-align: center; 
  margin-bottom: 2rem;  
}

.passe-partout {
  padding: 40px; /* Размер паспарту */
  background: Silver; /* Цвет фона паспарту */
  display: inline-block; /* Строчно-блочный элемент */
  margin: 0; /* Убираем отступы */
  border-radius: 0.3em;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(155, 155, 155) grey grey grey;
  box-shadow: 0.1em 0.4em 0.7em 0.1em var(--shadow-color); 
 } 

 .passe-partout img {
  border: 1px solid #666; /* Рамка вокруг изображения */
 }

.left-foto{
  float: left;
  margin: 10px 20px 2px 0px;
  max-width: 40%;
  }
  
.right-foto{
  float: right;
  margin: 10px 0px 2px 20px;
  max-width: 40%;
 }
  
.bordernot {
  border-style: none;
  box-shadow: none;
}

.narrow{
  max-width: 50%;
}

.sepia {
  filter: sepia(0.7);
}

.shadow {
  padding: 3% 3% 3% 3%;
  margin-bottom: 1rem;
  border-radius: 0.3em;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(211, 211, 211, 0.719) grey grey rgba(211, 211, 211, 0.719);
  box-shadow: 0.1em 0.4em 0.7em 0.1em #696969; 
}

#timeout {
  opacity: 0;
  animation: ani 1.6s forwards;
}

#timeoutshort {
  opacity: 0;
  animation: ani 1.4s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


/*CARDS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 карточек в ряд */
  gap: 1rem; /* Отступ между карточками */
  margin-bottom: 2rem; /* Отступ между группами */
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.7s ease, box-shadow 0.7s ease;
  background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.07)); /* Градиентное затемнение */}

.card a {
  text-decoration: none; /* Убираем подчеркивание для всех текстов внутри ссылки */
  color: inherit; /* Сохраняем цвет текста, как у родителя */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card:hover .card-image {
  
}

.card-content {
  padding: 1rem;
}

.card-title {
  font-size: clamp(1.4rem, 1.35rem + 0.25vw, 1.6rem);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  text-decoration: none;
  text-transform: uppercase;
}

.card-date {
  font-size: clamp(1.2rem, 0.986rem + 0.571vw, 1.5rem);
  font-family: "Fira Sans", sans-serif;
  color: #666;
  margin: 0 0 0.5rem 0;
  text-align: left;
}

.card-summary {
  font-size: clamp(1.4rem, 1.35rem + 0.25vw, 1.6rem);
  font-style: normal;
  font-family: 'Roboto Condensed', sans-serif;
  color: #444;
  margin: 0;
  text-align: left;
}

.summary {
  font-size: clamp(1.6rem, 1.314rem + 0.762vw, 2rem);
  font-style: normal;
  font-family: 'Roboto Condensed', sans-serif;
  color: #444;
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}


/*ВЕРТИКАЛЬНЫЕ ВКЛАДКИ
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Основные стили для вкладок */
.tabs {
  display: flex;
  flex-direction: column;
}

.tab {
  margin-bottom: 10px;
}

.tab-label {
  display: block;
  padding: 10px;
  background-color: var(--background-color);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.tab-label h2 {
  margin: 0; /* Убираем отступы у заголовка внутри вкладки */
  font-family: serif;
  text-transform: uppercase;
}

/* Анимация для появления и исчезновения содержимого */
.tab-content {
  overflow: hidden; /* Скрываем содержимое, выходящее за пределы */
  max-height: 0;
  opacity: 0;
  transition: max-height 0.7s ease, opacity 0.7s ease, padding 0.7s ease;
  padding: 0 10px; /* Начальный отступ */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*МАТЕМАТИКА
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.math {
  font-family: "Times New Roman", serif;
  font-size: 1.1em;
  margin: 10px 0;
}
.example {
  background: #f4f4f4;
  padding: 10px;
  border-left: 5px solid #3498db;
  margin: 20px 0;
}
.example h4 {
  margin-top: 0;
}
.section {
  margin-bottom: 30px;
}

/*МОДАЛЬНОЕ ОКНО
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Стили для кнопки */
#openModalBtn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.7s ease;
}

#openModalBtn:hover {
  background-color: #45a049;
}

/* Стили для модального окна */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0; /* Начальная прозрачность */
  transition: opacity 0.7s ease; /* Плавное изменение прозрачности */
}

.modal.modal-open {
  opacity: 1; /* Полная видимость */
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-50px); /* Начальное смещение */
  opacity: 0; /* Начальная прозрачность */
  transition: transform 0.7s ease, opacity 0.7s ease; /* Плавные переходы */
}

.modal.modal-open .modal-content {
  transform: translateY(0); /* Конечное положение */
  opacity: 0.9; /* Полная видимость */
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content ul li {
  margin: 10px 0;
}

.modal-content ul li a {
  text-decoration: none;
  color: #4CAF50;
  font-size: 18px;
}

.modal-content ul li a:hover {
  text-decoration: underline;
}

#closeModalBtn {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

#closeModalBtn:hover {
  color: #f00;
}


/*MEDIAQUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 1400px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 карточки в ряд на экранах меньше 1400px */
  }
}

@media (max-width: 920px) {

  .shadow {
    border-style: none;
    box-shadow: none; 
  }
}

@media (max-width: 800px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 карточки в ряд на экранах меньше 800px */
  }

}

@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: 1fr; /* 1 карточка в ряд на экранах меньше 480px */
  }
}