<!DOCTYPE html>
<html>
  {% include top.html %}  
  <head>
    {% include header.html %}  
  </head>
  <body id="timeoutshort">
    <main>
      <div class="news-container">   
          {% include head.html %}        
          <div class="collumns">
            {% for post in site.posts %}
              {% if post.type == "news" %}
                {% include columns.html %} 
              {% endif %}             
            {% endfor %}
          </div>
      </div>
    </main>
    <footer>      
      {% include foot.html %}
    </footer>
    </body>
    </html>