<!DOCTYPE html>
<html>
  <head>
    {% include header.html %} 
    <style>
      .news-container{
        font-family: 'PT Serif', serif;
        font-size: 110%;}
        p {text-indent: 0rem;
        margin-bottom: 0.1rem;}      
        p+p {text-indent: 2rem;} 
        .doc-head{
        font-size: 3.5rem;}    
    </style>   
  </head>
  <body>
    <main>
      <div class="news-container">    
        {% include head.html %}   
        <div class="book">          
          {% include head-doc.html %}
        </div> 
      </div>   
    </main>
    <footer>      
      {% include foot.html %}
    </footer>
  </body>
</html>
