<!DOCTYPE html>
<html lang="ru">
  {% include top.html %}  
  <head>
    {% include header.html %} 
    <style>
      .book {
        font-family: 'Roboto', sans-serif;}
       p {font-size: 100%;}
       h1, h2, h3 {font-size: 120%;}
       h1, h2 {     
          line-height: 140%;
          font-weight: 700;}
        h1 {text-transform: uppercase;}
        strong {color: FireBrick;
                font-weight: normal;}
      </style>    
  </head>
  <body>
    <main>
      <div id="timeoutshort" class="news-container">    
        {% include head.html %} 
        <div  id="timeout" class="container shadow">                                 
          {% include doc-head.html %}
          {% include doc-toc.html %}
          {% include doc-content.html %} 
        <br> <i>{% include date.html %}</i>
      </div> 
    </div>       
    </main>
    <footer>      
      {% include foot.html %}
    </footer>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </body>
</html>
