<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}    
    <style>
      p {text-indent: 1.5rem;
      margin-bottom: 0.1rem;}     
    </style>
  </head>
  <body id="timeoutshort">
    <div class="head news-container">
      {% include head.html %} 
      <div class="clock-text serif" id="MyClockDisplay"></div>   
      <div class="collumns">
          {% for doc in site.info %}
            <div class="collumn gain-center">
              <a href="{{ site.baseurl }}{{ doc.url }}" target="blank" class="link notall">
                <div class="head"><span class="headline hl1">{{ doc.title | upcase }}</span></div>
                {% if doc.image_url %}<div><img class="media bordernot" style="width: 50%;" src="{{ site.urlimg }}{{ doc.image_url }}"></div>{% endif %} 
                {% if doc.summary %}
                  <div class="sans-serif">{{ doc.summary | truncatewords: 25 | strip_newlines }}</div>
                {% endif %}
              </a>
            </div>
          {% endfor %}
            <div class="text serif linetitle">НОВОСТИ</div>  
              
      </div>
    </div>
    <div class="news-container">
      <div class="collumns">
        {% assign N = 0 %}
        {% for post in site.posts %}
          {% if N == site.count_post %}
            {% break %}
          {% endif %}
          {% assign N =  N | plus: 1 %}
          {% include columns.html %}       
        {% endfor %}
      </div>
    </div>
    <footer>      
      {% include foot.html %}
    </footer>
    </body>
    </html>
