<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <main>
      <div class="news-container">    
        {% include head.html %}
      </div>
      <div class="container">                      
        {% include doc-head.html %}
        {% include doc-content.html %}     
        {% if page.previous %}
          <p style="padding: 0 10px">Позже: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
        {% endif %}
        {% if page.next %}
          <p style="padding: 0 10px">Раньше: <a href="{{ page.next.url }}">{{ page.next.title }}</a></p>
        {% endif %}
      </div>   
    </main>
    <footer>      
      {% include foot.html %}
    </footer>
  </body>
</html>
