<!DOCTYPE html>
<html>  
  {% include top.html %}
  <head>
    {% include header.html %}
    <style>
      p {margin-bottom: 1.5rem;
        text-indent: 0rem;}   
      P + p { text-indent: 0rem;}            
    </style>
  </head>
  <body>
    <main>
      <div id="timeoutshort" class="news-container">    
        {% include head.html %}
      </div>
      <div id="timeout" class="container shadow">                      
        {% include doc-head.html %}
        {% include doc-content.html %}        
      </div>   
    </main>
    <footer>      
      {% include foot.html %}
    </footer>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </body>
</html>
